In [2]:
import json
import requests
import pandas as pd

In [2]:
data = []
with open('./tmdbKr.json','r',encoding='utf8') as file :
    data= json.load(file)

In [3]:

def get_keywords(id):
    url = f'https://api.themoviedb.org/3/movie/{str(id)}/keywords?api_key=7a1258842909fa315bd1a319017098ca&language=ko-KR'
    get = requests.get(url)
    data = get.json()
    return data

In [4]:
# 영화데이터 id값
keywords_data = []
for i in range(len(data)):

    if data[i]['model'] == 'movies.movie':
        pk = data[i]['pk']
        keywords_data.append(get_keywords(pk))

In [5]:
keywords_data[0]

{'id': 640146,
 'keywords': [{'id': 1701, 'name': 'hero'},
  {'id': 3126, 'name': 'ant'},
  {'id': 9663, 'name': 'sequel'},
  {'id': 9715, 'name': 'superhero'},
  {'id': 9717, 'name': 'based on comic'},
  {'id': 18035, 'name': 'family'},
  {'id': 155030, 'name': 'superhero team'},
  {'id': 179430, 'name': 'aftercreditsstinger'},
  {'id': 179431, 'name': 'duringcreditsstinger'},
  {'id': 180547, 'name': 'marvel cinematic universe (mcu)'}]}

In [6]:
with open('tmdbKeyword.json', 'w', encoding="UTF-8") as f:
        json.dump(keywords_data, f, indent=4,ensure_ascii=False)

In [3]:
keywords = []
with open('./tmdbKeyword.json','r',encoding='utf8') as file :
    keywords= json.load(file)

In [4]:
df = pd.DataFrame(columns=['id','keywords'])

In [11]:
# 키워드데이터

# 모든데이터 for문 돌면서

# 각 값들을 뽑아서 새로운 데이터프레임으로 만들고 
# 기존 데이터프레임에 합쳐주는 과정
for i in range(len(keywords)) :
    id = keywords[i]['id']
    keyword = keywords[i]['keywords']['name']
    keyword_str = ','.join(str(e) for e in keyword) # 여러값이 있어서 해야하는데 이해안감
    
    keywords_json = {'id':[id],'keywords':[keyword_str]}
    df_tmp= pd.DataFrame(keywords_json)
    df =  pd.concat([df, df_tmp], ignore_index = True)

TypeError: list indices must be integers or slices, not str

In [9]:
df

Empty DataFrame
Columns: [id, keywords]
Index: []

In [7]:
df.to_csv('./영화키워드.csv',encoding='utf8',index=False)